{% extends 'accounts/init_base.html' %}
{% load widget_tweaks %}
{% block title %}运维管理系统登录{% endblock %}

{% block content %}
    <div class="container">
        {% if form.errors %}
            <div class="alert alert-warning" role="alert">
                {{ form.errors.as_text }}
            </div>
        {% endif %}
        <form class="form-signin" action="{% url 'accounts:login' %}" method="post">

            <label for="inputUsername" class="sr-only">Account</label>
            {% render_field form.username class+="form-control" id="inputUsername" placeholder="账号" %}

            <label for="inputPassword" class="sr-only">Password</label>
            {% render_field form.password class+="form-control" id="inputPassword" placeholder="密码" %}

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> 记住我
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
            {% csrf_token %}
        </form>

    </div>
{% endblock %}