{% extends 'base2.html' %}
{% block title %}运维管理系统-首页{% endblock %}

{% block sidebar_wrapper %}
<div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

            <li class="active">
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>
                    Dashboard</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li><a href="#">link1</a></li>
                    <li><a href="#">link2</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>
                    Shortcut</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li><a href="#"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-flag fa-stack-1x "></i></span>link1</a></li>
                    <li><a href="#"><span class="fa-stack fa-lg pull-left"><i
                            class="fa fa-flag fa-stack-1x "></i></span>link2</a></li>

                </ul>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-cloud-download fa-stack-1x "></i></span>OverView</a>
            </li>
            <li>
                <a href="#"> <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-cart-plus fa-stack-1x "></i></span>事件处理</a>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-youtube-play fa-stack-1x "></i></span>问题跟踪</a>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-wrench fa-stack-1x "></i></span>监控</a>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-server fa-stack-1x "></i></span>日志</a>
            </li>
        </ul>
    </div><!-- /#sidebar-wrapper -->
{% endblock %}

{% block content %}
    <div id="page-content-wrapper">
    <div class="container-fluid xyz">
                       
        <div class="row">
                               
            <div class="col-lg-12">
                <h1>运维面板</h1>
                <p>内容稍后补充，敬请期待。</p>           
            </div>
                           
        </div>
                   
    </div>
    </div>
{% endblock %}