{% extends 'base1.html' %}
{% block nav_list %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"><span
                        class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
            </li>
            <li class="{% block dashboard_active %}{% endblock %}">
                    <a href="{% url 'accounts:dashboard' %}">首页</a>
                </li>
                <li>
                    <a href="#">CMDB</a>
                </li>
                <li>
                    <a href="#">域名管理</a>
                </li>
                <li>
                    <a href="#">版本更新</a>
                </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-text">
                        <span class="glyphicon glyphicon-user"></span> {{ request.user.username|title }}
                    </p>
                </li>
                <li>
                    <a href="{% url 'accounts:logout' %}"><span class="glyphicon glyphicon-log-out"></span> 登出</a>
                </li>
            </ul>
    </div><!-- bs-example-navbar-collapse-1 -->
{% endblock %}


