{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">运维管理系统</a>
        </div>

        <div id="mynavbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{% block dashboard_active %}{% endblock %}">
                    <a href="{% url 'accounts:dashboard' %}">首页</a>
                </li>
                <li>
                    <a href="#">CMDB</a>
                </li>
                <li>
                    <a href="#">域名管理</a>
                </li>
                <li>
                    <a href="#">版本更新</a>
                </li>

            </ul>

            <form class="navbar-form navbar-left">
                <input type="text" class="form-control" placeholder="搜索...">
                <button type="submit" class="btn btn-default">提交</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-text">
                        <span class="glyphicon glyphicon-user"></span> {{ request.user.username }}
                    </p>
                </li>
                <li>
                    <a href="{% url 'accounts:logout' %}"><span class="glyphicon glyphicon-log-out"></span> 登出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active">
                    <a href="#">"Overview " <span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a href="#">Reports</a>
                </li>
                <li>
                    <a href="#">Analytics</a>
                </li>
            </ul>
            <ul class="nav nav-sidebar">
                <li>
                    <a href="#">Nav item1</a>
                </li>
                <li>
                    <a href="#">Nav item2</a>
                </li>
                <li>
                    <a href="#">Nav item3</a>
                </li>

            </ul>
            <ul class="nav nav-sidebar">
                <li>
                    <a href="#">Nav itemA</a>
                </li>
                <li>
                    <a href="#">Nav itemB</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>

            {% block content %}
            {% endblock %}

        </div>
    </div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>
